@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


.lft img {max-height: 500px !important;  

width: auto !important;}

.easierimages img {max-height: 500px !important;

width: auto !important;}

img {max-width: 100%; height: auto}
table, tr, td {width: 100% !important; max-width: 100% !important; text-align: auto; margin: 0 auto;}
 /*----------Default font styles-----------*/
row, header, .container, .navbar-nav, .col, .navbars, footer, .footer p, span, .container-fluid {
	
font-family: 'Montserrat', sans-serif !important; font-size:12px;	
	
}

 /*----------Search Customer View Basket A links -----------*/
.gray, .right a {color: #fff;}

 /*----------Top Bar BG Color -----------*/

.top-bar{background: #333333; line-height: 1.8em;}

 /*----------Top Bar A Links -----------*/

.top-bar-rgt li a {color: #fff;}

 /*----------HEADERB BG -----------*/
.topheader { ; background:url(https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/headerbg.gif) 0 0 repeat-x #000; background:#000;}

 /*----------NAV BG BG -----------*/

.menu{background: #fff; }
.menu #myNavbar li a{color: #030303; padding:11px 20px 13px; font-size: 12px; border-right: solid 1px #cfcfcf;}
 
.menu #myNavbar li a:hover {background-color: #cecece;}
#sale{background: #000;}
#newarvl{background: #fff; margin-left:1px; color:#cd1822; border-right: none !important;}
#newarvl a {  color:#cd1822 !important; border-right: none !important;}


 /*----------3 PROMOS -----------*/
  /*-FULL WIDTH BG COLOUR-*/
 .btm-menu {background-color: #000;
text-align: center;
font-size: 16px;
padding: 10px;
border-top: solid 2px white;
border-bottom: solid 2px white;
color: white;


}

.btm {font-size:16px;}

.btm-menu b {
    color: #06ce53;
}

  /*-3 PROMO BG-*/
 .btm div div div {background-color: #e0e0e0; padding:15px; width: 100%; display:inline-block; line-height:12px; font-size: 16px;}
  /*-3 PROMO FONT-*/
 .btm-menu span {padding-right: 10px; color: #000; line-height: 22px;}
  /*-3 PROMO RIGHT FONT-*/
 .btm-menu i {display:block; float:right; padding-left: 8px; border-left:1px solid #727272; color: #000; font-size:11px; font-style:normal; font-weight:normal;}
 
 
 /*----------CLICK TO SHOP -----------*/
 .what {padding:20px 0 15px; font-size:11px; color: #000;}
.what a {display:inline-block; background-color:#e3e3e3; margin-left:20px; padding:5px 18px; color: #000; font-size: 11px;}

/*----------MID BG -----------*/
 .main-cntnt{background: #ebebeb; padding-top:7px;}
 .cntnt{background: #ebebeb; padding-top:10px; padding-bottom:10px; display: flex;}
 
 /*----------RIGHT CONTENT-----------*/
 .btn1, .btn2 {display:block; text-align: center; color: #333333; font-size:18px; padding: 10px;     width: 48.8%; float: left; background: #d7d7d7; font-weight: 400 !important;}
.btn1 {margin-right: 5px; }
.btn2 {margin-left: 5px;}
.btn2 span { font-size: 18px;}
.btn1:hover, .btn2:hover {color: #000}
 .prod-btm{background:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/medal.png") 98% center no-repeat #a5a5a5; margin: 0 -15px; padding: 10px 15px 14px; color: #fff;
 
 
 color: #fff;
background-size: 25px auto;
background-color: #222222;
background-image: url(https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/medal.png);
background-repeat: no-repeat;
background-position: 98% 15px;
margin-top: 0;
margin-right: -15px;
margin-bottom: 0;
margin-left: -15px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 14px;
padding-left: 10px;
 
 
 
 }
 .prod-btm h3 {font-weight: 600;}
 .ratings a {color:#000; padding-left: 5px;}
 .prod-btm ul li {font-weight: 300 !important;}
	 
	 .newcontent {background: #fff; padding-top: 15px; padding-bottom: 15px; min-width: 100px;}
	 
	 .cssnav
{
position: relative;
font-family: font-family: 'Montserrat', sans-serif;
/*white-space: nowrap;*/
display: block;
width: 100%;
height: 35px;
margin: 0;
padding: 0;
 
background-repeat: no-repeat;
background-color: #fff;
}
.cssnav a
{
display: block;
color: #000;
font-size: 10px !important;
width: 100%;
height: 35px;
display: block;
float: left;
 
text-decoration: none;
font-weight: 400;
border-bottom: solid 1px #b6b6b6;
padding-bottom: 5px;
}
.cssnav a:hover {color: white;}

.cssnav:hover {background-color: #d31d18; }
.cssnav img
{
width: 100%;
height: 35px;
border: 0;
display: none;
}
* html a:hover
{
visibility:visible
}
.cssnav a:hover img
{
visibility:hidden;
background-image: url();
}
.cssnav span
{
position: absolute;
left: 8px;
top: 7px;
margin: 0px;
padding: 0px;
cursor: pointer;
}


a.style4:link {
color: #000;
text-decoration: none;
}
a.style4:visited {
color: #000;
text-decoration: none;
}
a.style4:hover {
color: #000;
text-decoration: none;
}

.leftcats h1 {background: #000; color: #fff; font-size: 14px; text-transform: uppercase; margin: 0; padding: 15px;}
.leftcats label {width: 100%;}
.leftcats input {display: none;}
	 
	 
	 
	 
 
  /*----------INSPIRED BG-----------*/ 
 
 .inspired a {color:#53565a; padding:5px 30px 10px; background-color:#fff; border-radius:2px; line-height:26px;}
 
 
    /*----------FOOTER-----------*/ 
	
footer {background-color: #000000; color:#fff; padding-top:25px; margin-top: 5px;}
footer a, footer a:hover {color:#fff; font-size: 12px;}
footer h5 {font-size:18px; text-transform: uppercase; font-weight: 600; color: #08f061;}
footer li {line-height:25px; font-size:12px; font-weight: 300;}
.footer-bottom {background-color:#fff; padding:20px;}
.footer-top {padding-top: 25px; padding-bottom: 55px;}
.signup p {font-weight: 300;}
	
	 /*----------STYLE ENDS-----------*/ 
	 
	 
	 
	 /*----reviews-------*/
	 
	  .confidence {background:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/confidencebg.jpg") center no-repeat #222; background-size:cover; min-height: 380px; color: white; margin-top: 15px;}
	 .confidence h1 {color: white; text-align: center; text-transform: uppercase; margin-top: 60px; margin-bottom: 60px;}
	 .confidence b {font-size: 16px;  }
	 .confidence p {}
	 .confidence span {font-family: 'Lato', sans-serif !important;}
	 
	 .rview {font-family: 'Lato', sans-serif !important;}
	 .review img {display: block;  }
	 .rview b {padding-top: 15px; display: block; padding-bottom: 10px;}
	 .rview p {font-size: 12px;}
	 
	 /*-----reviews ends--------*/
	 
	 
	 
	.frst {background: #fff; margin-top: 20px; padding: 10px; border: solid 1px #d7d7d7; font-size: 21px;}
	.frst img  { padding-right: 20px;}
	.frst span {  font-weight: 300; color: #3f434d;  font-size: 21px; padding-top: 5px; }
	 
	.scnd {background: #d31d18; margin-top: 20px; padding: 10px; font-size: 21px; }
	.scnd img  {  padding-right: 20px;}
	.scnd span {  font-weight: 300; color: #fff; font-size: 21px; padding-top: 5px; }
	 
	 
	 
	 
	 .midship {background: #000; color: #fff; text-align: center; font-size: 19px !important; padding: 10px; }
	.midship b {background: #d31d18; padding:10px;}
	 
	 
	 
	 .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
 justify-content: center;
}

.flex-container img {height: 41px; width: auto;}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  
   padding-right: 33px;
  max-width: 182px;
  
 
  margin: 9px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
	 
	 
	 
	 
	 
	 
	 
	 /*--flex ends--*/
	
	.wtsnw {font-size: 28px; color: #222222; text-transform: uppercase; font-weight: 700; border-bottom: solid 1px #cfcfcf; padding: 15px; margin: 15px;}
	.wtsnw b {color: #c51721;}
	
	.spp {font-weight: 300; color: #fff; text-align: right; margin-top: 33px; font-size: 13px;}
	.spp b {font-weight: 600;}
	.spp a {color: white;}
	.spp img {margin-right: 5px;}

.top-bar-rgt{display: inline-flex;list-style: none;float: right;}
.top-bar-rgt li {padding: 10px 10px 0px;} 
.logo {padding-top:10px; padding-bottom: 10px;}
.right ul {padding:0;}
.right ul li {display: inline; margin-top: 25px; padding:0 10px; float:left; line-height:14px; font-size:11px; text-align: center;}
.right ul li.cust {    margin:inherit 10px 0;}
.right ul li.basket {width:77px;}
.right strong {font-size:12px; display: block;}
.right img {margin-right: 3px;}
.btm-menu img{float:left; margin-right:10px;}
.menu nav.navbar.navbar {margin: 0;}
.btm {  
font-weight: 600;
line-height: 2.6em;}
/*.banner {background:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/banner.jpg") center no-repeat #727272; background-size:cover; min-height:212px; margin-top:6px;}*/
.inner{border: 1px solid #222222;}
.desc-rgt .inner h5{background: #727272; padding: 12px; margin: 0;color: #fff;}
.wtsnw {margin-bottom: 15px; margin-top:35px; text-align:center;}
.hero_sctr {background-color: #ebebeb; padding:15px 0 0px;}
.hero_sctr img {border: 3px solid #fff;}
.inspired {font-size:16px; margin-top:25px; padding-top:20px; color:#fff; line-height:35px; background: #1e242b;}
.inspired .container  div {padding:0 10%; font-size: 16px; text-transform: uppercase; letter-spacing: 1.5px;}
footer .signup {border-left: 1px solid #54585e; padding-left:5%}
.footer-bottom  img {margin: 0 auto;}
.ebay {display:none;}
.ftr-logo {margin: 40px;}
.copyright {color: white;padding-bottom: 20px;}
.serv ul li{display: inline-flex; list-style: none; padding: 15px 35px;}
.serv ul li p {color: white; padding-left:10px;}
.rgt{min-height: 500px; margin-bottom: 30px;}
.lft{min-height: 500px; margin-bottom: 30px;}
.title {color:#222222; font-size:24px;}
.title img {margin-top:10px;}
.ratings {margin-bottom: 2px; padding:9px 10px 8px 0; font-size:11px; color:#53565a;}
.ratings span {margin-right: 10px; }
.ratings i {display:inline; background:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/star.gif") center no-repeat; padding: 7px;}
.price{ }
.price h3 { margin-top: 2px; margin-bottom: 12px; color: #d31d18;}
.price p {font-size:11px;}
.price span{color:#a20202;}
.collect{margin: 10px 0px; min-height: 60px}
.collect #half{width: 70%; float: left; color: #858585;}
.pay {border-top: 1px solid #e5e5e5; margin-left: -15px; margin-right: -15px; padding: 0 15px 15px;}
.pay #txt { width: 60%; float: left; padding-left: 15px;}
.pay #txt p {color: #858585;}
.pay #txt h4{margin: 10px 0 0;}
.pay img {margin-top: 15px;   float:right;
    clear:right; margin-right: 15px;}
.dlvry {border-top: 1px solid #e5e5e5; margin-left: -15px; margin-right: -15px; padding: 0 15px 15px;}
.dlvry .l {width: 70%; float: left; padding-left: 15px;}
.dlvry .l p {color: #858585;}
.dlvry .l h4{margin: 10px 0 0;}
.dlvry .r {padding: 8px;}
.shp {border: 1px solid #e5e5e5;padding: 10px 10px 10px 50px; background:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/plug.gif") 10px center no-repeat;}
main {min-width: 310px; margin:auto; background: #fff; position:relative;}
section { display: none; padding: 20px 0 0; color:#383838; font-size:15px; line-height:20px; font-weight: 300;}
main input { display: none;}
main label { background-color:#fff;  border-bottom: 4px solid #aeb0b4; display: inline-block; margin: 0 0 -0px; padding: 12px 20px 18px; font-weight: normal; font-size: 16px; text-align: center; color:#3f434d; z-index:98; width:33.3333333%; position:relative; font-weight: 300;}
main label:before { font-weight: normal; margin-right: 0px;}
main label[for*='1']:before { content: ''; }
main label[for*='2']:before { content: ''; }
main label[for*='3']:before { content: ''; }
main label[for*='4']:before { content: ''; }
main label[for*='5']:before { content: ''; }
main label.nbr {border-right:0;}
main label.last {position:absolute; width: 100%; float: left; left: 0; z-index: 0; padding:21px;}
main label.last:hover {cursor:auto}
main label:hover { cursor: pointer;}
main input:checked + label {background-color:#fff; font-weight:600; color:#3f434d;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 { display: block; padding: 55px; min-height:290px;}
main label.taboff {display: none;}
main label.lasttab {border-right: 0px;}
.pimg {display: inline-flex}
.pimg img {max-height: 19px; width: auto; padding-right: 10px;}

.slider {background: #fff; text-align:center; position: relative; /*Instead of height we will use padding*/
	padding-top: ; width:92%; /*That helps bring the labels down*/
}
	/*Last thing remaining is to add transitions*/
.slider .large{ position: absolute; left: 90px; top: 0; transition: all 0.5s; width:96%; max-height:540px; overflow-y:hidden;}
.slider .large img{ max-width: 98%; height: auto;}
.slider input[type="radio"] { display: none;}
.slider label {margin-bottom:12px; position:relative; width:80px; cursor: pointer; padding:5px; border:1px solid #f1f1f1; transition: all 0.5s; opacity: 0.6; /*default low opacity*/}
.slider label img {display: block; max-width:70px;}
.slider input[type="radio"]:checked+label {opacity: 1; border:1px solid #ccc;}
	/*clicking any thumbnail now should change its opacity(style) / Time to work on the main images*/
.slider input[type="radio"] ~ .large { opacity: 0;	transform: scale(1.1);}
	/*that hides all main images at a 110% size. On click the images will be displayed at normal size to complete the effect */
.slider input[type="radio"]:checked+label+.large { opacity: 1; transform: scale(1);}
	/*Clicking on any thumbnail now should activate the image related to it*/
.thumbnail {border:0; padding:0; }

#thumb img {border: 1px solid #e5e5e5;margin: 0px 1px;padding: 5px;margin-bottom: 10px;}
.prod-btm ul {display: inline-flex;margin: 0 auto;padding: 0;}
.prod-btm ul li {list-style: none; padding: 5px 2px;}

.prod-btm ul li { list-style-image:url("https://raw.githubusercontent.com/ruudg10/hpcreeledbulbs3/main/images/tick.png"); margin-left:25px; padding-left:0px;}
.prod-btm h3 {margin: 0px 10px 0px 0; float:left; width:90%}
.prod-desc {margin-top: 50px;}
.prod {margin-top: 10px;}
.prod-desc h4{font-weight: 600;}
.desc-rgt .inner #spec {margin-top: 10px; padding:15px; min-height:302px;}

/*media query for devices*/
@media only screen and (max-width: 600px){
	body{overflow-x: hidden;}
	.top-bar{display: none;}
	.navbar-toggle{background: #000;}
	.navbar-toggle .icon-bar{background: #ffffff;}
	.prod-btm ul{display: block;}
	.btm{text-align: center;}
	.btm div div div {padding:10px 10px; font-size:11px; text-align:left;}
	.trust img {width:65px; margin-top:2px;}
	.title img {width: 75px;}
	.btm-menu i {font-size:10px;}
	.prod-desc{margin-top: 0px;}
	.main-cntnt, .cntnt {padding: 0;}
	.prod-btm {margin-top: 10px;}
	.desc-lft, .lft{width:100% !important;}
	.desc-lft .nav-pills{margin: 0 auto;}
	.nav-pills>li+li{margin-left: 0px !important;}
	.nav-pills>li{float: none !important; text-align: center;}
	.breadcrumbs {padding-left:10px}
	.lft {min-height: 440px;}
	.slider {padding-top: 350px; min-height: 320px; width:100%;}
	.slider .large {left:0px; width:100%}
	.slider .large .clk {width: 170px;}
	.slider label {width:18%; padding:3px; display:inline-block;}
	.slider label img {display: block; max-width:100%;}
	.slider .large img {max-height: 320px !important; width: auto;}
	.prod {padding:10px;}
	main label.nbr, main label.first {padding:9px; line-height:16px;}
	main label {font-size: 97%; padding:9px 5px; height:52px; line-height:21px; float:left;}
	section {padding:15px 10px; clear:both; float:left; border-bottom:1px solid #ccc;}
	.hero_sctr img {margin:5px 0}
	.inspired {line-height: 24px; font-size:14px;}
	.inspired .container div {padding:0;}
	.inspired a {padding:1px 17px 3px; font-size:13px; margin-top:2%;}
	.nav > li {float: left;}
	.menu #myNavbar li a {border: 0; padding:2px 9px;}
	#sale {clear:left; margin-left: 9px;}
	
	.leftcats { }
	.flex-item {width: 25%; padding-right: 0px;}
	.flex-item:last-child {display: none;}
	.btm-menu img {max-width: 100% !important;
height: auto !important;}
.spp {margin-top: 10px;
margin-bottom: 10px;
text-align: center;
font-size: 12px;}
.logo img {margin: 0 auto;}
.cntnt {display: block;}


/*mob cats*/

.chk-link {
    display: none;
}

.content {
    
    display: none;
}

.chk-link:checked + .content {
    display: block;
}

.link {
    display: inline-block;
    cursor: pointer;
}


.leftcats {width: 100%; padding:0px;}
.leftcats h1 {font-size: 22px;
    }
.leftcats h1:after {content: '\f0c9';   
    font-family: FontAwesome;    
    float: right;
    color: white; 

}


.btn1, .btn2 {
    width: 100%;
    float: left;
    border: none;
    margin: 0px;
        margin-bottom: 0px;
    margin-bottom: 5px;
}



/*end mob cats */


}
@media only screen and (min-width: 330px) and (max-width: 600px){
	.slider {padding-top: 350px; min-height: 420px; width:100%;}
	main label.nbr, main label.first {line-height:15px !important;}
	
}

@media only screen and (min-width: 667px) and (max-width: 1200px){
	.price h3{margin-top: 85px;}
	.pay img {float: right; margin-right:10px;}
	.dlvry #r img { margin-top: 25px;}
	.desc-lft{margin-bottom: 20px;}
	.serv ul {padding: 0;}
	.serv ul li {display: inherit; padding: 10px 0px; text-align: center; width: 20%;float: left;}
	.collect, .vat, .dlvry, .pay{clear:both; }
	.desc-lft, .lft{width:100% !important;}
	.nav > li {float: left;}
	.btm-menu i {width:100px;}
	.menu #myNavbar li a {border: 0; padding:2px 10px; margin-bottom: 3px;}
	.slider .large {width:95%; left:90px;}
	.hero_sctr img {margin:10px auto;}
	.prod-btm {margin-top: 10px;}
	.btn1, .btn2 {width:48%; margin:0 1% 20px; float:left}
	.rgt {width: 100%;}
}



